/* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
	  position: fixed;
	  top: 0px;
	  width: 100%;
    }
	.navbar li:hover{
	background-color:#007EA7;
	}
	
li.active{
	background-color:#007EA7;
}
	.btn {
	background-color:#ff9933;
	border-color:#ff9900;
	}
	
    body{
		padding-top:100px;
		padding-bottom:100px;
		background-color: #000040;
		background-image: url("Images/background.jpg");
		background-repeat:no-repeat;
		background-attachment:fixed;
	}
    
    footer {
      background-color: black;
      color: white;
	  position: fixed;
	  bottom: 0;
	  width: 100%;
	  padding: 5px;
    }
		
	.blue{color:blue;}
	.red{color:red;}
	.green{color:green;}
	.white{color:white;}

	div.polaroid {
	  width: 50%;
	  background-color: white;
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	  margin-bottom: 25px;
	}
	div.polaroidText{
			text-align: center;
	}

	div.content{
	background-color:white;
	 padding:20px;
	 border:black;
	 border-width:1px;
	 height: auto;
	 }
	 div.item{
	 height:600px;}

	
	 .carousel-inner > .item > img {
	  width:100%;
      margin: auto;
  }
	 
	 .carousel-control.left, .carousel-control.right {
    background-image: none
}

	#galeriaTytul{
	text-shadow: 1px 0px black;
	color:white;
	text-align:center;}
	
	.table
	{
		width:72.5%;
	}

	
	#photo
	{
		width:100%;
	}
	
	#logo
	{
		margin:-10px;
		width:100px;
	}
	
	.gold
	{
		border-color:#e6b800
	}
	.gold>.panel-heading
	{
		color:#000000;
		background-color:#ffcc00;
		border-color:#e6b800
	}
	.gold>.panel-heading+.panel-collapse>.panel-body
	{
		border-top-color:#e6b800
	}
	.panel-danger>.panel-heading .badge
	{
		color:#ffcc00;
		background-color:#a94442
	}
	.gold>.panel-footer+.panel-collapse>.panel-body
	{
		border-bottom-color:#e6b800
	}
	
	.green
	{
		border-color:#00b300
	}
	.green>.panel-heading
	{
		color:#000000;
		background-color:#00e600;
		border-color:#00b300
	}
	.green>.panel-heading+.panel-collapse>.panel-body
	{
		border-top-color:#00b300
	}
	.green>.panel-heading .badge
	{
		color:#00e600;
		background-color:#a94442
	}
	.green>.panel-footer+.panel-collapse>.panel-body
	{
		border-bottom-color:#00b300;
	}
	
	.light-green
	{
		border-color:#4dff4d
	}
	.light-green>.panel-heading
	{
		color:#000000;
		background-color:#80ff80;
		border-color:#4dff4d
	}
	.light-green>.panel-heading+.panel-collapse>.panel-body
	{
		border-top-color:#4dff4d
	}
	.light-green>.panel-heading .badge
	{
		color:#80ff80;
		background-color:#a94442
	}
	.light-green>.panel-footer+.panel-collapse>.panel-body
	{
		border-bottom-color:#4dff4d
	}
	
	.yellow
	{
		border-color:#ffff1a
	}
	.yellow>.panel-heading
	{
		color:#000000;
		background-color:#ffff66;
		border-color:#ffff1a
	}
	.yellow>.panel-heading+.panel-collapse>.panel-body
	{
		border-top-color:#ffff1a
	}
	.yellow>.panel-heading .badge
	{
		color:#ffff66;
		background-color:#a94442
	}
	.yellow>.panel-footer+.panel-collapse>.panel-body
	{
		border-bottom-color:#ffff1a;
	}
	
	.pink
	{
		border-color:#ff6666
	}
	.pink>.panel-heading
	{
		color:#000000;
		background-color:#ff9999;
		border-color:#ff6666
	}
	.pink>.panel-heading+.panel-collapse>.panel-body
	{
		border-top-color:#ff6666
	}
	.pink>.panel-heading .badge
	{
		color:#ff9999;
		background-color:#a94442
	}
	.pink>.panel-footer+.panel-collapse>.panel-body
	{
		border-bottom-color:#ff6666
	}
	
	.red
	{
		border-color:#e60000
	}
	.red>.panel-heading
	{
		color:#000000;
		background-color:#ff1a1a;
		border-color:#e60000
	}
	.red>.panel-heading+.panel-collapse>.panel-body
	{
		border-top-color:#e60000
	}
	.red>.panel-heading .badge
	{
		color:#ff1a1a;
		background-color:#a94442
	}
	.red>.panel-footer+.panel-collapse>.panel-body
	{
		border-bottom-color:#e60000;
	}

	  /*========================AKORDEON============================*/
.Akordeon, .Akordeon * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}

.Akordeon {
    overflow:hidden;
	box-shadow:0px 1px 3px rgba(0,0,0,0.25);
	border:1px solid #1a1a1a;
    border-radius:20px;
}
.Akordeon-sekcja-tytul {
	color:#000000;
    width:100%;
    padding:15px;
    display:inline-block;
	border:1px solid #1a1a1a;
    transition:all linear 0.15s;
    text-decoration:none;
}
.Akordeon-sekcja-tytul.active, .Akordeon-sekcja-tytul:hover {
    background:#007EA7;
	color:white;
    /* Type */
    text-decoration:none;
}
 
.Akordeon-sekcja-zawartosc {
    padding:15px;
    display:none;
}